.section {
  @apply relative flex;
  /* height: 90vh; */
  min-height: 90vh;
  background: url(/_next/image?url=%2Fimages%2Fbg%2Fproposito.png&w=3840&q=75) no-repeat center center #88585A;
}
.inner {
  @apply container mx-auto px-4 lg:px-8 flex flex-1 justify-end items-center;
}
.content {
  @apply mx-8 my-16 lg:m-0;
}
@media (min-width: 1024px) {
  .content {
    max-width: 46%;
  }
}
.title {
  @apply relative text-4xl font-bold leading-normal text-white uppercase;
  margin-bottom: 3.125rem;
}
.title::after {
  @apply absolute left-0;
  content: '';
  bottom: -10px;
  width: 115px;
  height: 5px;
  background-color: #F9B53D;
}
.description {
  @apply font-normal leading-normal text-white;
  font-size: 1.5625rem;
}
.description p {
  @apply mb-8;
}
