.section {
  @apply pt-28 pb-36;
  background-color: #F8F8F8;
}
.body {
  @apply container mx-auto px-4 lg:px-8 flex flex-col;
}
.title {
  @apply relative flex justify-center mb-12 font-bold;
  font-size: 2.5rem;
  line-height: 1.5;
  color: #707070;
}
.title::after {
  @apply absolute left-1/2 transform -translate-x-1/2;
  content: '';
  bottom: -10px;
  width: 115px;
  height: 5px;
  background-color: #F9B53D;
}
.slides ul {
  @apply -bottom-16;
}
.slides li button:before {
  background-color: white;
  font-size: 1.25rem;
}
