.card {
  @apply flex flex-col bg-white my-4 md:my-8 lg:my-0 py-10 xl:py-14 px-10 lg:px-12 xl:px-16;
  box-shadow: 2px 2px 6px #00000029;
  border-radius: 3.75rem;
}
.card[data-is-horizontal="true"] {
  @apply lg:flex-row items-center;
}
.image {
  @apply relative w-full h-28 mb-8 lg:mb-12;
}
@screen xl {
  .image {
    min-width: 140px;
    max-width: 140px;
    min-height: 140px;
    max-height: 140px;
  }
}
.card[data-is-horizontal="true"] .image {
  @apply lg:mr-20 lg:mb-0 h-32;
}
.body {
  @apply flex flex-col;
}
.title {
  @apply relative mb-12 text-2xl font-bold uppercase text-center lg:text-left;
  line-height: 1.4;
  color: #707070;
}
@screen xl {
  .title {
    font-size: 2.2rem;
  }
}
.title::after {
  @apply absolute left-1/2 lg:left-0 transform -translate-x-1/2 lg:transform-none;
  content: '';
  bottom: -10px;
  width: 115px;
  height: 5px;
  background-color: #C90052;
}
.content {
  font-size: 1.25rem;
  line-height: 1.4;
  color: #707070;
}
@screen xl {
  .content {
    font-size: 1.3rem;
  }
}
@screen 2xl {
  .content {
    font-size: 1.45rem;
  }
}
