.item {
  @apply flex pt-32 justify-center items-center;
  background-color: ##F8F8F8;
}
.box {
  @apply relative flex flex-col lg:flex-row px-8 md:px-10 lg:px-12 py-6 lg:py-8 xl:py-10;
  background-color: #C90052;
  box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16);
  border-radius: 26px;
}
@screen lg {
  .box {
    border-radius: 40px;
  }
}
@screen xl {
  .box {
    border-radius: 40px;
  }
}
@screen 2xl {
  .box {
    border-radius: 50px;
  }
}
.image {
  @apply flex-1 flex justify-center items-start mt-0 mb-12 lg:mb-0 md:-mt-16 lg:-mt-20 xl:-mt-24 2xl:-mt-28 lg:mr-8;
  max-width: 36%;
}
.body {
  @apply flex-1 text-white;
}
.title {
  @apply mb-6 font-bold text-3xl;
}
@screen xl {
  .title {
    @apply mb-8 text-4xl;
  }
}
.content {
  @apply text-xl;
  line-height: 1.5;
}
@screen xl {
  .content {
    font-size: 1.25rem;
  }
}
.content p {
  @apply mb-4;
}
