.section {
  @apply relative h-screen ;
  background: url(/_next/image?url=%2Fimages%2Fbg%2Fsurpresa.png&w=3840&q=75) no-repeat center center #BD6291;
  background-position:
}
.inner {
  @apply container mx-auto px-4 lg:px-8 flex flex-1 h-screen justify-start items-center;
}
.content {
  @apply mx-8 my-16 lg:m-0;
}
@media (min-width: 1024px) {
  .content {
    max-width: 52%;
  }
}
@media (min-width: 1280px) {
  .content {
    max-width: 46%;
  }
}
.title {
  @apply mb-20 font-bold text-4xl text-center text-white;
  font-size: 2.5rem;
  line-height: 1.5;
}
@screen lg {
  .title {
    @apply text-left;
    font-size: 2.8rem;
  }
}
@screen xl {
  .title {
    font-size: 3rem;
  }
}
@screen 2xl {
  .title {
    font-size: 3.4rem;
  }
}
.cta_buttons {
  @apply flex flex-col lg:flex-row;
}
.cta_buttons button {
  @apply justify-center;
}
.cta_buttons button:nth-child(2) {
  @apply my-4 lg:my-0 lg:ml-8;
}
