.section {
  position: relative;
  min-height: 100vh;
  background-color: #CA0253;
}
@media (min-width: 1024px) {
  .section {
    min-height: calc(100vh + 8rem);
  }
}
.bg {
  @apply flex;
  min-height: 100vh;
  background: url(/_next/image?url=%2Fimages%2Fbg%2Fhero-banner.png&w=3840&q=75) no-repeat center top;
  overflow: hidden;
  z-index: -1;
}
@media (min-width: 1024px) {
  .bg {
    min-height: calc(100vh + 8rem);
  }
}
.inner {
  @apply container mx-auto px-4 lg:px-8 flex flex-col items-stretch;
  justify-content: stretch;
}
@media (min-width: 1024px) {
  .inner {
    @apply h-screen;
  }
}
.content {
  @apply flex-1 flex justify-end items-center;
}
.body {
  @apply w-full mb-16 px-6 lg:px-0;
}
@media (min-width: 1024px) {
  .body {
    @apply mb-0;
    width: 47%;
  }
}
.title {
  @apply mb-8 font-bold leading-normal text-white text-center;
  font-size: 2.5rem;
}
.subtitle {
  @apply mb-8 font-medium leading-normal text-white text-center;
  font-size: 1.8rem;
}
@screen lg {
  .title {
    @apply text-left;
    font-size: 2.75rem;
  }
  .subtitle {
    @apply text-left;
    font-size: 2rem;
  }
}
@screen xl {
  .title {
    @apply text-left;
    font-size: 3rem;
  }
  .subtitle {
    @apply text-left;
    font-size: 2.2rem;
  }
}
@screen 2xl {
  .title {
    font-size: 3.4rem;
  }
  .subtitle {
    font-size: 2.4rem;
  }
}

.cta_buttons {
  @apply flex flex-col sm:flex-row justify-center lg:justify-start;
}
.cta_buttons button {
  @apply my-2 justify-center normal-case;
}
.cta_buttons button:nth-child(2) {
  @apply sm:ml-8;
}
