.card {
  @apply flex flex-col bg-white my-4 md:my-8 lg:my-0 py-12 md:py-14 lg:py-16 px-8 sm:px-10 xl:px-12 2xl:px-16;
  box-shadow: 2px 2px 6px #00000029;
  border-radius: 3rem;
}
.body {
  @apply flex-1 flex flex-col;
}
.title {
  @apply relative font-bold leading-snug md:leading-normal text-center;
  font-size: 2.5rem;
  color: #707070;
}
.title::after {
  @apply absolute left-1/2 transform -translate-x-1/2;
  content: '';
  bottom: -10px;
  width: 115px;
  height: 5px;
  background-color: #C90052;
}
.price {
  @apply my-16 mx-0 text-center;
  color: #5668E6;
}
.price_value {
  @apply font-bold leading-tight;
  font-size: 4rem;
}
.price_legend {
  font-size: 1.875rem;
  font-weight: 400;
  lin-height: 1.5;
}
@screen xl {
  .price_value {
    font-size: 5rem;
  }
  .price_legend {
    font-size: 2.1875rem;
  }
}
.list {
  @apply flex-1;
}
.listitem {
  @apply px-0 py-2 xl:py-3 leading-snug lg:leading-normal;
  border-bottom: 3px solid #E9E9E9;
  font-size: 1.25rem;
  color: #707070;
}
@screen xl {
  .listitem {
    font-size: 1.325rem;
  }
}
@screen 2xl {
  .listitem {
    font-size: 1.4rem;
  }
}
.cta {
  @apply flex justify-center mt-12;
}
