.section {
  @apply text-white font-bold leading-normal uppercase;
  background-color: #F9B53D;
  font-size: 1.5rem;
}
.inner {
  @apply container mx-auto px-4 flex flex-col lg:flex-row lg:justify-between items-center py-4 md:py-6 lg:py-8;
}
.label {
  font-size: 3rem;
}
.timer {
  @apply text-center lg:text-left;
}
@screen lg {
  .cronometro {
    font-size: 2.5rem;
  }
  .label {
    font-size: 2.4rem;
    line-height: 1;
  }
  .timer {
    font-size: 2rem;
  }
}
@screen xl {
  .label {
    font-size: 2.6rem;
    line-height: 1;
  }
  .timer {
    font-size: 2.2rem;
  }
}
@screen 2xl {
  .label {
    font-size: 3rem;
    line-height: 1;
  }
  .timer {
    font-size: 2.4rem;
  }
}
