.section {
  @apply pt-32 pb-36 bg-white;
}
.inner {
  @apply container mx-auto px-4 lg:px-8 flex flex-col;
}
.title {
  @apply relative flex justify-center mb-24 font-bold;
  font-size: 2.5rem;
  line-height: 1.5;
  color: #707070;
}
.title::after {
  @apply absolute left-1/2 transform -translate-x-1/2;
  content: '';
  bottom: -10px;
  width: 115px;
  height: 5px;
  background-color: #F9B53D;
}
.editions {
  @apply flex flex-col lg:flex-row justify-between items-start;
}
.editions_event {
  @apply m-8;
}
.edition_title {
  @apply mt-8 mb-8 font-bold text-center;
  font-size: 1.875rem;
  line-height: 1.4;
  color: #6C6C6C;
}
.cta {
  @apply flex justify-center mt-24;
}
