.section {
  @apply py-20 lg:py-28;
  background-color: #F8F8F8;
}
.inner {
  @apply container mx-auto px-4 lg:px-8 flex flex-col;
}
.title {
  position: relative;
  display: flex;
  justify-content: center;
  margin-bottom: 4rem;
  font-weight: bold;
  font-size: 2.5rem;
  line-height: 1.5;
  color: #707070;
  text-transform: uppercase;
}
.title::after {
  content: '';
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: -10px;
  width: 115px;
  height: 5px;
  background-color: #F9B53D;
}
.logos {
  @apply flex flex-col lg:flex-row justify-between items-center px-16 lg:px-0;
}
.logo {
  @apply py-8 lg:py-0 lg:px-8;
}
