.section {
  @apply relative z-10 bg-white;
}
.section::after {
  @apply absolute z-0 bottom-0 left-0 right-0;
  content: '';
  background-color: #F8F8F8;
  height: 30%;
}
.inner {
  @apply container mx-auto px-4 lg:px-8 py-8 pt-12 md:py-16 lg:py-20;
}
.title {
  @apply relative flex justify-center mb-20 lg:mb-28 font-bold leading-normal uppercase;
  font-size: 2.5rem;
  color: #707070;
}
.title::after {
  @apply absolute left-1/2 transform -translate-x-1/2;
  content: '';
  bottom: -10px;
  width: 115px;
  height: 5px;
  background-color: #F9B53D;
}
.items {
  @apply relative z-10 flex flex-col lg:grid lg:grid-cols-2 lg:gap-14 px-4 md:px-8 lg:px-0
}
