.section {
  @apply bg-red-700;
}
.inner {
  @apply container mx-auto px-4 lg:px-8 flex flex-col lg:flex-row lg:justify-between items-center py-8;
}
.title {
  @apply flex font-bold text-white text-center;
  font-size: 2rem;
  line-height: 1.4;
}
@screen lg {
  .title {
    @apply text-left;
    font-size: 2rem;
  }
}
@screen xl {
  .title {
    font-size: 2.25rem;
  }
}
@screen xl {
  .title {
    font-size: 2.4rem;
  }
}
.body {
  @apply mt-8 lg:mt-0;
}
.button_open {
  @apply p-4 border border-white rounded-md font-bold text-xl text-white outline-none transition-all;
}
.button_open:hover {
  @apply outline-none shadow-xl ring-4 ring-red-400 ring-opacity-50 cursor-pointer;
}

.form {
  @apply text-black;
}
.form_content {}
.form_actions {}
.form p {
  @apply pb-4;
}
.control {
  @apply block w-full mb-4;
}
.label {
  @apply block pb-2 text-black text-xl;
}
.input {
  @apply block w-full border border-gray-500 rounded-md py-3 px-6 text-gray-700 outline-none;
  @apply hover:border-blue-500 focus:ring-2 focus:ring-blue-500 focus:text-black;
}

.confirm {
  @apply bg-green-600 text-white !important;
}
.cancel {
  @apply bg-red-600 text-white !important;
}
