.section {
  @apply pt-10;
}
.inner {
  @apply flex flex-col lg:flex-row items-stretch lg:items-start;
  justify-content: stretch;
}
.logo {
  @apply m-8 lg:m-0 flex justify-center;
}
.section ul {
  @apply fixed hidden top-0 left-0 right-0 bottom-0 shadow-lg z-50 flex-col justify-center m-0 p-0 bg-white;
  @apply lg:relative lg:flex lg:flex-1 lg:z-0 lg:top-auto lg:left-auto lg:right-auto lg:bottom-auto lg:shadow-none lg:flex-row lg:justify-end lg:mt-4 lg:bg-transparent;
}
.section ul li {
  @apply p-0;
}
.section ul li a {
  color: #CA0253;
  @apply block p-2 font-bold lg:text-white leading-normal uppercase text-center lg:text-left;
  font-size: 1rem;
}
@screen lg {
  .section ul li a {
    @apply p-3;
    font-size: 1.2rem;
  }
}
@screen xl {
  .section ul li a {
    @apply p-4;
    font-size: 1.4rem;
  }
}
@screen 2xl {
  .section ul li a {
    @apply p-5;
    font-size: 1.5625rem;
  }
}
