.backdrop {
  @apply fixed z-50 inset-0 overflow-y-auto;
}
.backdrop__container {
  @apply flex items-end justify-center min-h-screen pt-4 px-4 pb-20 text-center sm:block sm:p-0;
}
.modal {
  @apply inline-block align-bottom bg-white rounded-lg text-left overflow-hidden shadow-xl transform transition-all sm:my-8 sm:align-middle sm:max-w-4xl sm:w-full;
}
.header {
  @apply px-4 pt-5 pb-4 sm:p-6 sm:pb-4 lg:px-10 text-center sm:text-left;
}
.title {
  @apply font-bold leading-normal;
  font-size: 2.5rem;
  line-height: 1.5;
  color: #333;
}
.body {
  @apply text-2xl;
  /* font-size: 1.5625rem; */
  /* line-height: 1.4; */
  color: #333;
}
.body section {
  @apply px-4 pb-4 sm:p-6 sm:pb-4 lg:px-10;
}
.body footer {
  @apply bg-gray-50 px-4 py-3 sm:px-6 sm:flex sm:flex-row-reverse border border-gray-200;
}
.body footer button {
  @apply mt-3 mr-3 w-full inline-flex justify-center rounded-md border border-gray-300 shadow-sm px-4 py-2 bg-white text-base lg:text-lg font-medium text-gray-700 hover:bg-gray-50 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500 sm:mt-0 sm:w-auto;
}
