.button {
  @apply inline-flex outline-none py-0 px-6 items-center font-bold text-white uppercase transition-all;
  height: 4rem;
  background-color: #2FA62F;
  border-radius: 32px;
  font-size: 1.4rem;
  line-height: 1.8;
}
.button_hover {
  @apply outline-none shadow-xl ring-4 ring-green-500 ring-opacity-50 cursor-pointer;
}
@screen lg {
  .button {
    @apply px-4;
    height: 4.1rem;
    border-radius: 34px;
    font-size: 1.6rem;
  }
}
@screen xl {
  .button {
    height: 4.3rem;
    border-radius: 37px;
    font-size: 1.6rem;
  }
}
@screen 2xl {
  .button {
    height: 4.5rem;
    border-radius: 37px;
    font-size: 1.8rem;
  }
}

.button:hover {
  @apply button_hover;
}

.button_blue {
  @apply button;
  background-color: #5668E6;
}
.button_blue:hover {
  @apply button_hover;
  @apply ring-blue-500;
}

.modal {
  @apply text-black;
}
.modal p {
  @apply pb-4;
}
