.section {
  position: relative;
  z-index: 1;
  background-color: #F8F8F8;
  padding-bottom: 4.8rem;
}
.inner {
  @apply container mx-auto px-4 lg:px-8 flex flex-col lg:grid lg:grid-cols-2 lg:gap-8 xl:gap-10 2xl:gap-12
}

.inner > div[data-is-horizontal="true"] {
  @apply lg:col-span-2;
}
@media (min-width: 1024px) {
  .inner > div[data-is-horizontal="true"] {
    margin-top: -6rem;
  }
}
